.home {
    background-color: black;
    color:white;
    font-family: "adriane", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.start a {
    color: red;
    font-size: 20px;
}

.image {
    height: 350px;
    padding-top: 50px;
}

h2.small {
  line-height: 0.3;
}