.style {
    background-color: black;
    color:white;
    font-family: "adriane", serif;
    font-weight: 400;
    font-style: normal;
}

.image {
    height: 500px;
   margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: -20px;
    margin-bottom: -70px;
}

.narration {
border-style: solid;  
padding-top: 50px;
padding-left: 20px;
padding-bottom: 50px;
margin-left: 200px;
margin-right: 200px;
margin-top: 480px;
background-color: rgb(0, 0, 0);
border-radius: 20px;
text-align: center;
}

.nav a {
 color: rgb(255, 255, 255);
 padding-top: 25px;
 padding-left: 10px;
}