.style {
    background-color: black;
    color:white;
    font-family: "adriane", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 900px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}

.image {
    height: 500px;
    margin-bottom: -70px;
}

.name {
    border-style: solid;
    border-bottom-style: none;
    font-size: 20px;
    padding-bottom: 9px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    margin-bottom: -10px;
    margin-left: 10px;
}

.dialogue {
font-size: 20px;
border-style: solid;  
padding-top: 50px;
padding-left: 20px;
padding-bottom: 50px;
background-color: rgb(0, 0, 0);
border-radius: 20px;
text-align: center;
}

.nav a {
 color: rgb(255, 255, 255);
 padding-top: 25px;
 padding-left: 10px;
}