.style {
    background-color: black;
    color:white;
    font-family: "adriane", serif;
    font-weight: 400;
    font-style: normal;
}

.image {
    background-image: url(../images/sam-smile.png);
    height: 500px;
    margin-top:430px;
}

.name {
    border-style: solid;
    border-bottom-style: none;
    font-size: 17px;
    padding-top: 2px;
    padding-left: 39px;
    padding-bottom: 2px;
    margin-left: 200px;
    margin-right: 1100px;
    border-radius: 10px;
    position:relative;
}

.dialogue {
border-style: solid;  
padding-top: 50px;
padding-left: 20px;
padding-bottom: 50px;
margin-left: 200px;
margin-right: 200px;
margin-top: 0px;
background-color: rgb(0, 0, 0);
border-radius: 20px;
text-align: center;
}

.nav a {
 color: rgb(255, 255, 255);
 padding-top: 25px;
 padding-left: 10px;
}